@theme {

  --color-parchment-double-shaded: #ffd860;
  --color-parchment-color: #fff1c6;
  --color-parchment-shaded: #ffe493;

  --color-slorange-100: #FFE3CD;
  --color-slorange-200: #f5cca4;
  --color-slorange-300: #F79300;
  --color-slorange-400: #df7e00;
  --color-slorange-500: #CF7000;
  --color-slorange-600: #9d4800;
  --color-slorange-700: #7C2E00;
  --color-slorange-800: #621e00;
  --color-slorange-900: #3D0600;

  --color-golden-50: #fbffe7;
  --color-golden-100: #f4ffc1;
  --color-golden-200: #eeff86;
  --color-golden-300: #ecff41;
  --color-golden-400: #f3ff0e;
  --color-golden-500: #e0e001;
  --color-golden-600: #d0bf00;
  --color-golden-700: #a68b02;
  --color-golden-800: #896c0a;
  --color-golden-900: #74580f;
  --color-golden-950: #443004;

  --color-parchment-50: #fffaeb;
  --color-parchment-100: #fff1c6;
  --color-parchment-200: #ffe288;
  --color-parchment-300: #ffcd4a;
  --color-parchment-400: #ffb720;
  --color-parchment-500: #f99407;
  --color-parchment-600: #dd6d02;
  --color-parchment-700: #b74b06;
  --color-parchment-800: #94390c;
  --color-parchment-900: #7a2f0d;
  --color-parchment-950: #461702;

  --color-grey-50:  #FAFAFA;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #E5E5E5;
  --color-grey-300: #D4D4D4;
  --color-grey-400: #A3A3A3;
  --color-grey-500: #737373;
  --color-grey-600: #525252;
  --color-grey-700: #404040;
  --color-grey-800: #262626;
  --color-grey-900: #171717;
  --color-grey-950: #0A0A0A;

  --width-1_2: 50%;
  --width-1_3: 33.333333%;
  --width-2_3: 66.666667%;
  --width-1_4: 25%;
  --width-2_4: 50%;
  --width-3_4: 75%;
  --width-1_5: 20%;
  --width-2_5: 40%;
  --width-3_5: 60%;
  --width-4_5: 80%;
  --width-1_6: 16.666667%;
  --width-2_6: 33.333333%;
  --width-3_6: 50%;
  --width-4_6: 66.666667%;
  --width-5_6: 83.333333%;
  --width-1_12: 8.333333%;
  --width-2_12: 16.666667%;
  --width-3_12: 25%;
  --width-4_12: 33.333333%;
  --width-5_12: 41.666667%;
  --width-6_12: 50%;
  --width-7_12: 58.333333%;
  --width-8_12: 66.666667%;
  --width-9_12: 75%;
  --width-10_12: 83.333333%;
  --width-11_12: 91.666667%;

  --flex-basis-1_2: 50%;
  --flex-basis-1_3: 33.333333%;
  --flex-basis-2_3: 66.666667%;
  --flex-basis-1_4: 25%;
  --flex-basis-2_4: 50%;
  --flex-basis-3_4: 75%;
  --flex-basis-1_5: 20%;
  --flex-basis-2_5: 40%;
  --flex-basis-3_5: 60%;
  --flex-basis-4_5: 80%;
  --flex-basis-1_6: 16.666667%;
  --flex-basis-2_6: 33.333333%;
  --flex-basis-3_6: 50%;
  --flex-basis-4_6: 66.666667%;
  --flex-basis-5_6: 83.333333%;
  --flex-basis-1_12: 8.333333%;
  --flex-basis-2_12: 16.666667%;
  --flex-basis-3_12: 25%;
  --flex-basis-4_12: 33.333333%;
  --flex-basis-5_12: 41.666667%;
  --flex-basis-6_12: 50%;
  --flex-basis-7_12: 58.333333%;
  --flex-basis-8_12: 66.666667%;
  --flex-basis-9_12: 75%;
  --flex-basis-10_12: 83.333333%;
  --flex-basis-11_12: 91.666667%;

}
