- if policy(Comment).new?
  #new-comment.mb-4
    = render partial: 'comments/form', locals: { subject: subject, comment: Comment.new }
#comments
  - @parent = subject
  - comments = Comment.for_subject(subject).includes(:actual_author).for_feed(current_user)
  = render comments
  - unless comments.last_page?
    .text-right
      = link_to('view all comments', [ subject, :comments ])
