- %w[ red yellow green orange blue purple ].each do |c|
  .flex.flex-row
    .basis-1_2
      - (0..4).each do |i|
        .p-4{ style: "background-color: var(--#{c}#{i})" }
          var(#{c}#{i})
    .basis-1_2
      - if c == 'red'
        .p-4.bg-red-900 bg-red-900
        .p-4.bg-red-800 bg-red-800
        .p-4.bg-red-700 bg-red-700
        .p-4.bg-red-600 bg-red-600
        .p-4.bg-red-500 bg-red-500
        .p-4.bg-red-400 bg-red-400
        .p-4.bg-red-300 bg-red-300
        .p-4.bg-red-200 bg-red-200
        .p-4.bg-red-100 bg-red-100

      - if c == 'yellow'
        .p-4.bg-golden-900 bg-golden-900
        .p-4.bg-golden-800 bg-golden-800
        .p-4.bg-golden-700 bg-golden-700
        .p-4.bg-golden-600 bg-golden-600
        .p-4.bg-golden-500 bg-golden-500
        .p-4.bg-golden-400 bg-golden-400
        .p-4.bg-golden-300 bg-golden-300
        .p-4.bg-golden-200 bg-golden-200
        .p-4.bg-golden-100 bg-golden-100

      - if c == 'green'
        .p-4.bg-green-900 bg-green-900
        .p-4.bg-green-800 bg-green-800
        .p-4.bg-green-700 bg-green-700
        .p-4.bg-green-600 bg-green-600
        .p-4.bg-green-500 bg-green-500
        .p-4.bg-green-400 bg-green-400
        .p-4.bg-green-300 bg-green-300
        .p-4.bg-green-200 bg-green-200
        .p-4.bg-green-100 bg-green-100

      - if c == 'orange'
        .p-4.bg-orange-900 bg-orange-900
        .p-4.bg-orange-800 bg-orange-800
        .p-4.bg-orange-700 bg-orange-700
        .p-4.bg-orange-600 bg-orange-600
        .p-4.bg-orange-500 bg-orange-500
        .p-4.bg-orange-400 bg-orange-400
        .p-4.bg-orange-300 bg-orange-300
        .p-4.bg-orange-200 bg-orange-200
        .p-4.bg-orange-100 bg-orange-100

        .p-4.bg-slorange-900 bg-slorange-900
        .p-4.bg-slorange-800 bg-slorange-800
        .p-4.bg-slorange-700 bg-slorange-700
        .p-4.bg-slorange-600 bg-slorange-600
        .p-4.bg-slorange-500 bg-slorange-500
        .p-4.bg-slorange-400 bg-slorange-400
        .p-4.bg-slorange-300 bg-slorange-300
        .p-4.bg-slorange-200 bg-slorange-200
        .p-4.bg-slorange-100 bg-slorange-100

      - if c == 'blue'
        .p-4.bg-sky-900 bg-sky-900
        .p-4.bg-sky-800 bg-sky-800
        .p-4.bg-sky-700 bg-sky-700
        .p-4.bg-sky-600 bg-sky-600
        .p-4.bg-sky-500 bg-sky-500
        .p-4.bg-sky-400 bg-sky-400
        .p-4.bg-sky-300 bg-sky-300
        .p-4.bg-sky-200 bg-sky-200
        .p-4.bg-sky-100 bg-sky-100

      - if c == 'purple'
        .p-4.bg-purple-900 bg-purple-900
        .p-4.bg-purple-800 bg-purple-800
        .p-4.bg-purple-700 bg-purple-700
        .p-4.bg-purple-600 bg-purple-600
        .p-4.bg-purple-500 bg-purple-500
        .p-4.bg-purple-400 bg-purple-400
        .p-4.bg-purple-300 bg-purple-300
        .p-4.bg-purple-200 bg-purple-200
        .p-4.bg-purple-100 bg-purple-100