@mixin division-nav-color ($color0, $color1, $color2, $color3, $color4) {
  .DivisionNav-header {
    background: $color2;
  }

  .DivisionNav-search {
    border-left: 1px solid $color3;

    @include placeholder {
      color: $color3;
    }
  }

  .DivisionNav-searchInput {
    background: rgba($color1, 0);

    &.has-value,
    &:focus {
      background: rgba($color0, 0.1);
    }
  }

  .DivisionNav-searchIcon {
    color: $color4;
  }

  .DivisionNav-logout {
    border-left: 1px solid $color3;
  }

  .DivisionNav-logout,
  .DivisionNav-tab {
    &.active,
    &:hover,
    &:active {
      color: $color0;
      background: $color3;
    }

    &.active {
      background: $grey9;
    }
  }
}


.DivisionNav {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 100%;

  &-centered,
  &-header {
    @include microfix;
    min-height: 48px;
    color: $grey9;
    line-height: 48px;

    a {
      color: inherit;
    }

    a.active,
    a:hover,
    a:active {
      text-decoration: none;
    }
  }

  &-content {
    flex-grow: 1;
  }

  &-footer {
    background: $grey7;
    text-align: center;
    padding: 11px 12px 12px;
    border-top: 1px solid $grey6;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 24px;
    }
  }

  &-centered {
    max-width: 1200px;
    margin: 0 auto;
  }

  &-search {
    position: relative;
    float: right;
  }

  &-searchInput {
    height: 48px;
    border: 0;
    padding: 0 20px;
    color: $grey9;
    width: 120px;
    transition: all .25s ease-in-out;
    position: relative;
    z-index: 2;
    outline: 0;

    &.has-value,
    &:focus {
      padding: 0 20px;
      width: 250px;
    }

    @include width-under(768px) {
      &,
      &.has-value,
      &:focus {
        padding: 0 15px;
        width: 100%;
      }
    }
  }

  &-searchIcon {
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    z-index: 1;
  }

  &-logo {
    display: block;
    float: left;
    padding: 8px 12px;
  }

  &-logo a {
    display: block;
  }

  &-logo img {
    width: auto;
    height: 32px;
    line-height: 32px;
    display: block;
  }

  &-logout {
    display: block;
    float: right;
    line-height: 48px;
    text-align: center;
    width: 96px;
  }

  &-tab {
    display: block;
    float: left;
    padding: 0 12px;
  }

  &-dropdown {
    display: block;
    float: left;
    position: relative;
  }

  &-dropdownTrigger {
    display: block;
    padding: 0 12px;
  }

  &-dropdown.open &-dropdownMenu,
  &-dropdown:hover &-dropdownMenu {
    display: block;
  }

  &-dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1000;
    padding: 4px 0;

    a {
      display: block;
      line-height: 24px;
      white-space: nowrap;
      padding: 4px 12px;
    }
  }
}

@include division-nav-color($blue0, $blue1, $blue2, $blue3, $blue4);

.PortalNav--levi {
  @include division-nav-color($purple0, $purple1, $purple2, $purple3, $purple4);
}

.DivisionNav--giannini {
  $blue-highlight: mix($blue0, $blue1, 20%);

  .DivisionNav-header {
    background: $blue1;
  }

  .DivisionNav-dropdownMenu {
    color: $blue4;
    background: $blue-highlight;
  }

  .DivisionNav-dropdown:hover,
  .DivisionNav-dropdown.open,
  .DivisionNav-tab.active,
  .DivisionNav-tab:hover,
  .DivisionNav-tab:active {
    background: $blue-highlight;
    color: $blue4;
  }
}
