html, body {
  min-height: 100%;
}

.PortalNav {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &-header {
    background: $orange1;
    margin-left: 48px;
    padding-left: 18px;
    height: 48px;
    overflow: hidden;
  }

  &-links {
    background: $orange1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    overflow: hidden;
    color: $grey9;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-search {
    display: inline-block;
    border-left: 1px solid rgba($orange0, 0.3);
    border-right: 1px solid rgba($orange0, 0.3);

    @include placeholder {
      color: $orange4;
    }
    position: relative;
  }

  &-searchInput {
    background: rgba($orange0, 0);

    &.has-value,
    &:focus {
      background: rgba($orange0, 0.2);
    }
    height: 48px;
    border: 0;
    padding: 0 20px;
    color: $grey9;
    min-width: 250px;
    transition: all .25s ease-in-out;
    position: relative;
    z-index: 2;
    outline: 0;

    @include width-under(768px) {
      &,
      &.has-value,
      &:focus {
        padding: 0 15px;
        width: 100%;
      }
    }
  }

  &-searchIcon {
    color: $orange4;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    z-index: 1;
  }

  &-content {
    margin-left: 48px;
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  &-logo {
    background: $orange0;
    text-align: center;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 19px;
    font-weight: bold;

    span.full  { display: none; }
    span.small { display: inline; }
  }

  &-link {
    display: block;
    width: 144px;
    height: 36px;
    line-height: 36px;
    position: relative;

    &:hover {
      background: mix($orange0, $orange1, 25%);
    }

    &.is-active {
      background: mix($orange0, $orange1, 50%);
    }
  }

  &-icon {
    display: block;
    float: left;
    width: 48px;
    line-height: 36px;
    height: 36px;
    text-align: center;
    font-size: 16px;
  }

  &-badge {
    display: block;
    background: $red2;
    border: 1px solid $red1;
    padding: 2px;
    min-width: 16px;
    line-height: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 24px;
    text-shadow: none;
  }

  @media (min-width: 1000px) {
    &-links {
      width: 144px;
    }

    &-content {
      margin-left: 144px;
    }

    &-header {
      margin-left: 144px;
    }
    &-logo {
      width: 144px;
      span.full { display: inline; }
      span.small { display: none; }
    }
  }
}
