:root {

    --grey0: #1b1e23;
    --grey1: #25282e;
    --grey2: #353940;
    --grey3: #4d535a;
    --grey4: #6f7880;
    --grey5: #a0adb5;
    --grey6: #ccd6db;
    --grey7: #e7ecee;
    --grey8: #f5f7f8;
    --grey9: #ffffff;

    --red0: #370b17; /* not used */
    --red1: #c03a3a; /* -> red-500 */
    --red2: #e15548; /* -> red-400 */
    --red3: #e88173; /* -> red-300 */
    --red4: #fbeeeb; /* -> red-100 */

    /* tailwinds yellows need to be improved */
    --yellow0: #323200; /* not used */
    --yellow1: #878700; /* -> golden-600 */
    --yellow2: #E0E001; /* -> golden-500 */
    --yellow3: #F0F00F; /* -> golden-400 */
    --yellow4: #FFFFbF; /* -> golden-200 */

    --green0: #092012; /* not used */
    --green1: #347932; /* -> green-700 */
    --green2: #50933f; /* -> green-600 */
    --green3: #6dae4d; /* -> green-500 */
    --green4: #f1fee2; /* -> green-200 */

    --orange0:  #3D0600; /* not used */
    --orange1:  #7C2E00; /* -> slorange-700 */
    --orange2:  #CF7000; /* -> slorange-500 */
    --orange3:  #F79300; /* -> slorange-300 */
    --orange4:  #FFE3CD; /* -> slorange-100 */

    --blue0: #0d1e43; /* not used */
    --blue1: #2570b7; /* -> sky-600 */
    --blue2: #0097d5; /* -> sky-500 */
    --blue3: #19bcee; /* -> sky-400 */
    --blue4: #e4fbff; /* -> sky-200 */

    --purple0: #1a1346; /* not used */
    --purple1: #7f51c8; /* -> purple-500 */
    --purple2: #986fd4; /* -> purple-??? */
    --purple3: #b08edf; /* -> purple-400 */
    --purple4: #f5eefa; /* -> purple-200 */

    --parchment-color: #fff1c6;
    --parchment-shaded: #ffe493;
    --parchment-double-shaded: #ffd860;
    --parchment-dark: var(--orange1);

}
