.LunarRift{ data: { controller: "lunar-rift" }}
  = image_tag('sota-map-overland.png')
  .rift.rift-1{ data: { 'lunar-rift-target': 'rift', index: "1" }}
    Blood River
    %div XX:XX
  .rift.rift-2{ data: { 'lunar-rift-target': 'rift', index: "2" }}
    Solace Bridge
    %div XX:XX
  .rift.rift-3{ data: { 'lunar-rift-target': 'rift', index: "3" }}
    Highvale
    %div XX:XX
  .rift.rift-4{ data: { 'lunar-rift-target': 'rift', index: "4" }}
    Brookside
    %div XX:XX
  .rift.rift-5{ data: { 'lunar-rift-target': 'rift', index: "5" }}
    Owl's Head
    %div XX:XX
  .rift.rift-6{ data: { 'lunar-rift-target': 'rift', index: "6" }}
    Westend
    %div XX:XX
  .rift.rift-7{ data: { 'lunar-rift-target': 'rift', index: "7" }}
    Brittany<br />Graveyard
    %div XX:XX
  .rift.rift-8{ data: { 'lunar-rift-target': 'rift', index: "8" }}
    Etceter
    %div XX:XX
