.flex.flex-col.md:flex-row.gap-x-4.justify-center
  .basis-full.md:basis-2_3
    .my-4.bg-white.border.border-grey-300.rounded.p-4
      .text-center
        %h1 Sending Confirmation Email

        %p.text-2xl.p-4
          We've sent you an email to confirm your account. You should receive it within a few minutes.

        %p.text-2xl.p-4
          Please check your email and click the link provided to confirm your account.
