= tile('info') do
  = tile_heading('Updates', type:'info')
  = tile_body do
    %p
      %strong
        An attempt at a Cabalist Clock has been added.
        = primary_button_to('Cabalists', cabalists_path, size: :sm)

    %p
      There does seem to be some inconsistencies with the appearance of
      cabalist sieges, so please report any issues you find.

