.Field {
  margin-bottom: 16px;
  position: relative;

  .Form--inline & {
    margin-bottom: 0;
    flex: 1 1 auto;
  }

  &--withSubmit {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    label {
      flex: 1 100%;
    }

    & > * {
      flex: 1 0px;
    }

    & :last-child {
      flex: 0 1 auto;
    }
  }

  select[multiple] {
    height: 32px;
  }

  select optgroup{
    color: $grey4;

    option {
      color: $grey2;
      padding-left: 15px;
    }
  }

  div.date-select {
    select {
      display: inline;
      max-width: 32%;
    }
  }

  &-label {
    display: block;
    max-width: 100%;
    font-weight: bold;
    position: relative;
    margin-bottom: 0; // Override Bootstrap
    top: -2px;
  }

  &-input {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 22px;
    color: $grey2;
    background: $grey9;
    border: 1px solid $grey6;
    border-radius: 3px;

    &:focus {
      border-color: $grey4;
      outline: 0;
      box-shadow: inset 0 1px 3px $grey7;
    }

    @include placeholder {
      color: $grey5;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: $grey7;
      color: $grey4;
      opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
    }

    &.is-autoFilled {
      background-color: $blue4;
      border-color: $blue0;
      color: $blue1;
    }

    &--numeric {
      text-align: right;
    }
  }

  textarea {
    height: auto;
    min-height: 104px;
    line-height: 24px;
    padding: 3px 8px;
  }

  &-group {
    position: relative;
  }

  &-group &-input {
    padding-left: 40px;
  }

  &-groupHint {
    @include monospace;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    border-right: 1px solid $grey7;
  }

  &-hint {
    font-size: 14px;
    color: $grey4;
    display: block;
    position: relative;
    top: 2px;
  }

  &-hintOnFocus {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 16px;
    color: $purple4;
    background: $purple1;
    border-radius: 3px;
    z-index: 1;
    padding: 8px 12px;
    opacity: 0;
    visibility: hidden;
    transition-duration: 100ms;
    transition-property: opacity, margin-top, visibility;
    transition-timing-function: linear, ease-out, step-end;
  }

  &-hintOnFocus:before {
    border: 6px solid transparent;
    border-bottom-color: $purple1;
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 32px;
    width: 0;
    height: 0;
  }

  &.is-focused &-hintOnFocus,
  &-input:focus ~ &-hintOnFocus {
    display: block;
    transition-timing-function: linear, ease-in-out, step-start;
    opacity: 1;
    visibility: visible;
    margin-top: 8px;
  }

  &--error {
    color: $red2;
  }

  &--error &-input {
    color: $red1;
    background: $red4;
    border: 1px solid $red1;
  }

  &-error {
    position: relative;
    top: 2px;
    font-weight: bold;
  }

  &-checkbox {
    cursor: pointer;
    display: block;
    font-weight: normal;
  }

  &-checkboxPadding {
    padding: 4px 0;
  }

  &-checkboxPadding & {
    margin: 0;
  }

  &-checkboxPadding &-checkboxPadding {
    padding: 0;
  }

  &-checkbox input {
    margin-right: 8px;
  }

  &-toggle {
    display: flex;
    padding: 2px 2px 2px 0;
    background: $grey9;
    border: 1px solid $grey6;
    border-radius: 3px;
  }

  &-toggleOption {
    flex: 1 1 0%;
    align-items: stretch;
    display: flex;
    margin-bottom: 0; // Override Bootstrap
    font-weight: normal; // Override Bootstrap

    input {
      display: none;
    }
  }

  &-toggleText {
    display: block;
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
    margin-left: 2px;
    cursor: pointer;
    line-height: 24px;
    padding: 0 8px;
    border: 1px solid transparent;
    color: $grey4;

    &:hover {
      background: $grey8;
    }

    :checked + & {
      background: $grey7;
      border-color: $grey6;
      color: $grey1;
    }
  }

  &-softRequired {
    color: $yellow2;
  }

  &-required {
    color: $red2;
  }
}
