@mixin flair-color($color, $border, $background) {
  background: $background;
  border-color: $border;
  color: $color;

  .Flair-icon {
    color: $background;
    background: $border;
  }
}


.Flair {
  border-radius: 3px;
  border: 1px solid transparent;
  color: $grey9;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding-right: 7px;
  position: relative;
  top: 2px;
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;

  &-icon {
    display: inline-block;
    margin-right: 6px;
    min-width: 19px;
    text-align: center;
    border-radius: 2px 0 0 2px;
  }

  &--primary { @include flair-color(  $blue1,   $blue3,   $blue4); }
  &--danger  { @include flair-color(   $red1,    $red3,    $red4); }
  &--warning { @include flair-color($yellow1, $yellow3, $yellow4); }
  &--success { @include flair-color( $green1,  $green3,  $green4); }
  &--info    { @include flair-color($purple1, $purple3, $purple4); }
}
