@mixin notice-color ($dark, $border, $light) {
  .Notice-icon {
    background: $border;
    color: $light;
  }

  .Notice-text {
    background: $light;
    color: $dark;
    border-color: $border;
  }
}

.Notice {
  margin-bottom: 16px;
  border-radius: 3px;
  display: flex;
  // Override Bootstrap
  border: 0;
  padding: 0;

  &-icon {
    flex: 0 0 32px;
    border-radius: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-text {
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 0 3px 3px 0;
    flex-grow: 1;
  }

  &-text * {
    margin: 0;
  }

  &-text * + * {
    margin-top: 12px;
  }

  &--info    { @include notice-color($purple1, $purple3, $purple4); }
  &--success { @include notice-color( $green1,  $green3,  $green4); }
  &--warning { @include notice-color($yellow1, $yellow3, $yellow4); }
  &--danger  { @include notice-color(   $red1,    $red3,    $red4); }
}
