= tile_with_heading('Search results') do
  - @searches.each do |result|
    - case result.searchable
    - when Recipe
      %p
        Recipe:
        = link_to(result.searchable.name, result.searchable)
    - when Item
      %p
        Item:
        = link_to(result.searchable.name, result.searchable)
