.autocomplete-suggestions {
  border: 1px solid $grey3;
  background: $grey8;
  overflow: auto;

  .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
  }
  .autocomplete-selected {
    background: $grey6;
  }
  .autocomplete-suggestions strong {
    font-weight: normal;
    color: $grey9;
  }
  .autocomplete-group {
    padding: 2px 5px;
  }
  .autocomplete-group strong {
    display: block;
    border-bottom: 1px solid $grey0;
  }

  &.global-search {
    color: $grey8;
    background: $orange1;
    .autocomplete-selected {
      background: $orange0;
    }
  }
}