.autocomplete-suggestions {
  border: 1px solid $grey3;
  margin-top: -15px;
  background: $grey8;
  overflow: auto;
  position: absolute;
  z-index: 1000;
  list-style-type: none;

  .autocomplete-suggestion {
    padding: 2px 40px 2px 10px;
    white-space: nowrap;
    overflow: hidden;

    &.active {
      background: $grey6;
    }
  }

}