@layer components {
  .global-search {
    .global-search-results {
      @apply -mt-2 ml-4 p-2 bg-grey-100 border-2 border-slorange-700 drop-shadow-xl;
      @apply absolute;
      max-height: 400px;
      overflow-y: scroll;
      z-index: 1000;

      a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      a.active {
        @apply bg-orange-900 text-zinc-100;
      }
    }
  }

  .global-search-input {
    @apply transition-all ease-in-out duration-300;
    @apply bg-slorange-700 focus:bg-slorange-800;
    @apply inline-block h-8 m-2 w-32 focus:w-96;
    @apply placeholder:text-slate-400 placeholder:italic outline-none;
    @apply border rounded-full px-4 py-2 border-slorange-900 focus:border-slorange-800 focus:shadow-none;
  }
}