.global-search {
  .global-search-results {
    background: var(--grey9);
    border: 1px solid var(--grey6);
    position: absolute;
    max-height: 400px;
    overflow-y: scroll;
    z-index: 1000;

    a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a.active {
      background: var(--grey6);
    }
  }
 }