
@layer components {

  .ItemSummaryTag {
    @apply px-1.5 py-0 mx-0 rounded-full text-sm bg-grey-200 border border-grey-300;
    @apply inline-flex items-center whitespace-nowrap;
  }

  .Item-useTag {
    @apply ItemSummaryTag text-sky-700;
  }

  .Item-sourceTag {
    @apply ItemSummaryTag text-purple-700;
  }

  .Item-priceTag {
    @apply ItemSummaryTag text-golden-700;
  }

  .Item-weightTag {
    @apply ItemSummaryTag text-grey-700;
  }

  .Item-abstractTag {
    @apply ItemSummaryTag text-sky-800;
  }


  .Item-gatheringTag {
    @apply ItemSummaryTag;
    @apply lowercase pl-7 bg-contain bg-no-repeat bg-left;
    @apply text-green-700;
  }

  .Item-gatheringTag--large {
    @apply text-base pl-8 pr-3;
    background-size: 32px;
  }

  .Item-gatheringTag--field_dressing {
    background-image: url('sota-icons/craft_field_dressing_small.png');
  }

  .Item-gatheringTag--fishing {
    @apply pl-2;
  }

  .Item-gatheringTag--foraging {
    background-image: url('sota-icons/craft_foraging_small.png');
  }

  .Item-gatheringTag--forestry {
    background-image: url('sota-icons/craft_forestry_small.png');
  }

  .Item-gatheringTag--mining {
    background-image: url('sota-icons/craft_mining_small.png');
  }

}
