@layer components {

  .Recipe {
    @apply border border-parchment-950 bg-parchment-100;
    @apply mb-4 p-0;

    &-name {
      @apply border-b border-parchment-950;
      @apply p-2 font-bold;
      @apply flex items-center;
    }

    &-nameActual {
      @apply grow whitespace-nowrap overflow-hidden text-ellipsis;
    }

    &-nameControls {
      @apply flex-none whitespace-nowrap text-right text-sm;
    }

    &-craftSkillName {
      @apply opacity-50;
    }
    &-teachable {
      font-style: italic;
    }
    &-count {
      display: inline-block;
      text-align: right;
      min-width: 2em;
    }
  }

  .Recipe-detail {
    @apply flex items-start p-1 border-dashed border-b border-parchment-950 border-opacity-20;
  }

  img.Recipe-icon {
    flex: 1 0;
    max-width: 48px;
  }

  .Recipe-meta {
    flex: 4 0;
  }

  .Recipe-production {
    font-size: 0.9em;
  }

  .Recipe-ingredients {
    @apply p-2;
  }

  .Recipe-ingredient > .Recipe-ingredientSummary > a:not(.Displayed) > span > svg {
    transform: rotate(0deg);
    transition: transform 100ms linear;
  }

  .Recipe-ingredient > .Recipe-ingredientSummary > a.Displayed > span > svg {
    transform: rotate(90deg);
    transition: transform 100ms linear;
  }

  .Recipe-ingredientSummary {
    @apply flex flex-row items-center gap-1;
  }

  .Recipe-ingredient > .Recipe-ingredientSubDetail {
    @apply pl-4 -mr-1;

    div.MoreHidden {
      display: none;
    }

    .Recipe {
      .Recipe-name {
        display: none;
      }
    }
  }
}
