.SimpleForm {

  .input-group-label, input {
    height: 2.4375rem;
  }

  input[type="text"], input[type="number"] {
    display: inline-block;
    width: 4em;
  }
  input[type="number"] {
    text-align: center;
  }

}
