.SkillTable {
  @apply bg-grey-100;

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .tableRow {
    @apply flex flex-row flex-wrap items-center w-full border-b border-grey-300;
  }

  .stickOne {
    @apply sticky top-0;
  }

  .stickTwo {
    @apply static md:sticky md:top-10;
  }

  .stickThree {
    @apply static md:sticky md:top-20;
  }

  .skillCell {
    @apply px-2 py-1 md:py-2 basis-1/2 md:basis-auto grow;
    @apply order-1;
  }

  .xpCell {
    @apply px-2 py-1 md:py-2 w-full md:w-56 flex items-center border-l border-grey-300;

    .level {
      @apply basis-1/2 text-left;
    }

    .levelInput {
      @apply shrink;
      input {
        @apply w-16 h-8 rounded-sm text-right;

        &.error {
          @apply text-red-500 border-red-500;
        }
      }
    }

    .xp {
      @apply basis-1/2 grow text-right;
    }

    &.currentCell {
      @apply order-3 md:order-2;
    }

    &.targetCell {
      @apply order-4 md:order-3;
    }
  }

  .remainingXPCell {
    @apply px-2 py-1 md:py-2 text-right md:border-l border-grey-300;
    @apply order-2 md:order-4 basis-1/2 md:basis-auto md:w-36;
  }
}
