.SkillTable {

  div.SkillBasics, div.SkillBasicsNotes {
    background-color: var(--grey9);
    margin-bottom: 1rem;

    padding: 8px;

    input {
      border: 1px solid var(--grey7);
      width: auto;
      max-width: 6rem;
      text-align: right;
      margin-right: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
    pre {
      font-family: monospace;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  table {
    background-color: var(--grey9);

    th, td {
      vertical-align: middle;
    }

    tr.totalsHeadingRow {
      background-color: var(--parchment-double-shaded);
    }

    tr.categoryHeadingRow {
      background-color: var(--parchment-shaded);
    }

    tr.categorySchoolRow {
      background-color: var(--parchment-color);
      th {
        padding-left: 1rem;
      }
    }

    tr.headingRow {
      td {
        text-align: right;
      }
    }

    tbody tr:not(.headingRow):hover {
      background-color: var(grey8);
    }

    td.skillName {
      text-align: left;
    }

    td.xpFactor, td.xpRemaining {
      text-align: right;
    }

    td.xpCurrent > div, td.xpTarget > div {
      display: flex;
      justify-content: space-between;
    }

    input {
      display: inline-block;
      width: 4rem;
      text-align: right;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance:textfield;
    }

    span.xpField {
      display: inline-block;
      padding-right: 8px;
    }
  }
}

@media only screen and (max-width: var(--grid-md)) {
  .SkillTable {
    &--pageHeading {
      div.pageTabs {
        font-size: 1rem;
      }
    }

    td, th {
      font-size: 0.8rem;
    }

    th {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
