
/* @import './custom.scss'; */

/* Entry point for your PostCSS build */
@import "tailwindcss/base";
@import "./base/settings.css";
@import "./base/colors.css";
@import "./base/custom.css";

@import "tailwindcss/components";
@import "./custom-component-styles.css";
@import './components/tile.css';
@import './components/lunar_rifts.css';
@import './components/master_trainers.css';
@import './components/recipes.css';
@import './components/items.css';
@import './components/user_recipe.css';
@import './components/pagination.css';
@import './components/forms.css';
@import './components/fields.css';
@import './components/flair.css';
@import './components/skills.css';
@import './components/farming.css';
@import './components/notice.css';


@import "tailwindcss/utilities";
/* @import "./custom-utilities.css"; */

div#global-search-results {
  max-height: 400px;
  overflow-y: scroll;
}

.u-label {
  opacity: 0.7;
  font-style: italic;
}
