.text-center
  %h1.text-slorange-700 Thank you for registering!
  = tile do
    %p.text-2xl.p-4
      We've sent you an email to confirm your account. You should receive it within a few minutes.

    %p.text-2xl.p-4
      Please check your email and click the link provided to confirm your account.

    %p.pb-4
      = link_to('Resend the confirmation email?', new_user_confirmation_path)
